
        </div>
        <footer class="w-full bg-gray-100 dark:bg-gray-900">
            <div class="max-w-3xl w-full mx-auto p-6 md:p-12 flex justify-between">
                <p class="m-0">Subscribe via <a class="font-bold" href="{{ "/feed.xml" | relative_url }}">RSS</a></p>
                <p class="m-0">&copy;{{ 'now' | date: "%Y" }}</p>
            </div>
        </footer>
    </body>
</html>

<!--        <body class="text-gray-600 dark:text-indigo-100 bg-gray-50 dark:bg-gray-900 flex flex-col justify-between">-->

<!--        <div class="max-w-3xl w-full mx-auto p-6 md:p-12">-->