<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60309813-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-60309813-2');
    </script>

    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/assets/icon.svg"/>
    <link rel="stylesheet" href="/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="title" content="SpaceX Companion">
    <meta name="description" content=" I am Studio Noorderlicht, SpaceX enthousiast and the creator of SpaceX Companion.">
    <meta name="keywords" content="spacex, companion, launch, tracker, news">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Jeroen Boumans">
    <title>Studio Noorderlicht {{page.title}}</title>
</head>
<body class="text-gray-600 dark:text-indigo-100 bg-gray-50 dark:bg-gray-900 flex flex-col  h-screen justify-between">

<div class="max-w-2xl mx-auto p-6 md:p-12">