<section id="share" class="my-16">
    <div class="share-page flex items-center justify-end space-x-1.5">
        <span>Share &rarr;</span>

        <a class="rounded-3xl p-1 px-3 bg-blue-400 text-white" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="noopener" target="_blank" title="Share on Twitter">Twitter</a>
        <a class="rounded-3xl p-1 px-3 bg-blue-800 text-white" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="noopener" target="_blank" title="Share on Facebook">Facebook</a>
        <a class="rounded-3xl p-1 px-3 bg-red-500 text-white" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url}}&title={{ page.title }}" rel="noopener" target="_blank" title="Share on Reddit">Reddit</a>
    </div>
</section>
