{% include header.html %}
<div class="container mx-auto">

<!-- Just some nice to have styles for the pager buttons -->
<style>
    ul.pager { text-align: center; list-style: none; }
    ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<p class="text-red"></p>
<div class="home">



    <ul class="post-list list-none">
        <!--
            Here is the main paginator logic called.
            All calls to site.posts should be replaced by paginator.posts
        -->
        {% for post in paginator.posts %}
        <li  class="my-16 ml-0">
            <article >
            <span class="dark:text-gray-500">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
            {{post.excerpt}}
            </article>
        </li>
        {% endfor %}
    </ul>

    <!--
      Showing buttons to move to the next and to the previous list of posts (pager buttons).
    -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous" style="border:none; !important">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="px-8 py-3 border-2 border-transparent dark:border-width-2 dark:border-indigo-600 text-base font-medium rounded-lg text-white hover:text-white bg-indigo-600 dark:bg-transparent hover:bg-indigo-100 md:py-4 dark:text-indigo-100 dark:hover:bg-indigo-900 dark:hover:border-purple-600 md:text-lg md:px-10">&larr; Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next" style="border:none; !important" class="border-transparent">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="px-8 py-3 border-2 border-transparent dark:border-width-2 dark:border-indigo-600 text-base font-medium rounded-lg text-white hover:text-white bg-indigo-600 dark:bg-transparent hover:bg-indigo-100 md:py-4 dark:text-indigo-100 dark:hover:bg-indigo-900 dark:hover:border-purple-600 md:text-lg md:px-10">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    <h6 class="text-center pb-10">Page {{paginator.page}} / {{paginator.total_pages}}</h6>
    {% endif %}

</div>
</div>
{% include footer.html %}
