{% include header.html %}


<pre class="highlight p-6 bg-blue-800 text-green-50 "><code><span class="n">entities</span> <span class="o">=</span> <span class="p">[</span>
    <span class="s">"sensor.power_tariff"</span><span class="p">,</span>
    <span class="s">"sensor.power_consumption_watt"</span><span class="p">,</span>
    <span class="s">"sensor.gas_consumption"</span><span class="p">,</span>
    <span class="p">...</span>
<span class="p">]</span>
</code></pre>


{{ content | markdownify }}


{% include footer.html %}
